
body{
background: darkgray;

}
.back-styling{


 
    background: linear-gradient(90.18deg, #1D1D1D 31.74%, #1D1D1D 90.49%, #1D1D1D 90.49%);

position: relative;
max-width: 1920px;
height: 315px;
left: 0px;
top: -10px;

z-index: 1;


} 



.first-text > h5 {
   
position: absolute;
min-width: 689px;
height: 89px;
right: 670px;
left: 102px;
top: 130px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 138.68%;
/* or 21px */
text-align: justify;

color:#FFFFFF;



}




.Berries > h2{

position: absolute;
max-width: 363px;
height: 63px;
left: 102px;
top: 49px;
margin: 0px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 37px;
letter-spacing: 0.18538em;

color: #FFFFFF;
    
}

.READ > h5{

position: absolute;
width: 139px;

left: 102px;
top: 226px;
color: #FFFFFF;


height: 25px;
left: 102px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 18px;
text-align: center;





}



.about{

position: absolute;
min-width:  330px;
height: 74px;
left: 495px;
padding-left: 50px;
padding-top: 8px;
top: 80px;
right: 758px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;

font-size: 20px;
line-height: 38px;
display:flex;
align-items: center;
text-align: center;
letter-spacing: 0.35538em;
color: #000000;
box-sizing: border-box;
border: 8px solid #000000;

 
}


.READ .line9{



position: absolute;
width: 32px;
height: 0px;
left: 90px;
top: 259px;

border: 2px solid #FFFFFF;
transform: rotate(90deg);


}

.READ .line10{

top: 259px;
position: absolute;
width: 32px;
height: 0px;
left: 210px;


border: 2px solid #FFFFFF;
transform: rotate(90deg);



}


.explore > h5{
  
    font-family: Montserrat;
font-size: 15px;
font-weight: 600;
line-height: 18.29px;
text-align: center;
position: absolute;
width: 139px;
height: 32px;
left: 600px;
top: 290px;




}

.IT-text  {
  

position: absolute;
left: 890px;

font-family: 'Varela';
font-style: normal;
font-weight: 400;
font-size: 285px;
line-height: 364px;
display: flex;
align-items: center;
letter-spacing: 3.78667px;
color: #000000;
margin: 0px;
box-sizing: border-box;
position: absolute;
 width: 320px;
height: 350px;
top: 33px;
border: 18px solid #000000;
border-bottom-left-radius: 30px;
border-start-end-radius:  30px;
transform: rotate(23.89deg);
padding-top:10px ;
z-index: 2;

}
h5{
position: absolute;
width: 585px;
height: 47px;
left: 360px;
top: 180px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;

font-size: 11.7px;
line-height: 138.68%;
text-align: center;

color: #050505;


}

.img-seperator {
   
position: absolute;
width: 170px;
height: 12px;
left: 580px;
top: 370px;
padding-bottom: 50px;



}

.explore .line9{
   

position: absolute;

width: 32px;
height: 0px;
left: 710px;
top: 320px;

border: 2px solid #000000;
transform: rotate(90deg);


}
.explore .line10{
    
    

position: absolute;
width: 32px;
height: 0px;
left: 600px;
top: 320px;
border: 2px solid #000000;
transform: rotate(90deg);

}





.additional .add-img1 {


position: absolute;
width: 200px;
height: 150px;
left: 530px;

color: (0deg, #000000, #000000), linear-gradient(0deg, #000000, #000000), #000000;
transform: matrix(0.65, 0.76, -0.73, 0.69, 0, 0); 
bottom: 650px;
transform: rotate(-40.16deg);




}

.additional .add-img2 {


    position: absolute;
    max-width: 210px;
    height: 150px;
    left: 450px;
    
    color: (0deg, #000000, #000000), linear-gradient(0deg, #000000, #000000), #000000;
    transform: matrix(0.65, 0.76, -0.73, 0.69, 0, 0); 
    bottom: 620px;
    transform: rotate(4.42deg);


}
div.box-b {
    margin-top: -10px;
    position: relative;
    height: 450px;
    max-width: 1920px;
    
    z-index: 3;


    background:darkgrey;}

    @media (max-width: 1200px) {
        .IT-text {
            left: 490px;
        }

       
  .additional .add-img2    {
left:350px;
bottom:610px;
  }
  .additional .add-img1{
    left:435px;
bottom:648px;
  }
  .about{
    left: 245px;
  }
  h5 {
    left: 180px;
  }
  .explore .line9{
left:400px;
  }
  .explore .line10{
left:300px;
  }
  
  
  .img-seperator  {
      left:290px;
      
    }
  .img-seperator  {
      left:290px;
      
    }

  .explore > h5{
    left:300px;
  }
    
 
    }
